/* Modal CSS */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.modal-container {
  background: var(--white-color);
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 90%;
  animation: fadeIn 0.3s ease-in-out;
}

/* Modal Sizes */
.modal-small {
  width: 300px;
  max-width: 90vw;
}

.modal-medium {
  width: 500px;
  max-width: 90vw;
}

.modal-large {
  width: 800px;
  max-width: 90vw;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 4px;
}

.modal-title {
  font-size: var(--normal-font-size);
  font-weight: var(--bold-weight);
}

.modal-close-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.modal-close-btn:hover {
  background-color: var(--muted-background);
  color: var(--dark-color);
}

.modal-content {
  margin: 0.5rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
